extends layout

block content

	table
		tr
			td ID
			td NOM
			td TYPE
			td ROLE
			td NB ROLE
			td DATE TOURNAGE
		tr
		each event, i in eventslist
			tr
				td
					= event._id
				td
					= event.nom
				td
					= event.type
				td
					= event.role_demander
				td
					= event.nb_role
				td
					=event.date_tournage
				td
					a(href='/events/'+event._id) SUPPRIMER
