extends layout

block content
	form(name="addEvent",method="post",action="/events/insert/addevent")
		.form-group
		label Nom de l'évenement
		|  
		input.form-control(type="text", placeholder="Nom", name="eventName", required='required')
		|  
		label Rôle demandé
		|  
		input.form-control(type="text", placeholder="Description du roles", name="eventRole", required='required')
		|  
		label Nombre de rôle
		|  
		input.form-control(type="text", placeholder="Nombre de role", name="eventNbRole", required='required')
		|  
		label Date du tournage
		|  
		input.form-control(type="date", placeholder="jj/mm/aaaa", name="eventDateTournage", required='required')
		|  
		label Type de spectacle
		.radio
			label
				input#optionsRadios1(type='radio', name='eventType', value='film')
				| Film
		.radio
			label
				input#optionsRadios2(type='radio', name='eventType', value='spectacle')
				| Spectacle
		button.btn.btn-default(type='submit') Valider
		button.btn.btn-primary(type='reset') Annuler
