extends layout

block content
	form(name="adduser",method="post",action="/users/insert/addevent")
		input(type="text", placeholder="nom", name="userName", required='required')
		input(type="text", placeholder="prenom", name="userFirstName", required='required')
		input(type='radio', name='userSexe', value='femme')
		|  Femme
		input(type='radio', name='userSexe', value='homme')
		|  Homme
		input(type="date", placeholder="date de naissance (jj/mm/aaaa)", name="userDate", required='required')

		button(type="submit") Validez
		button(type='reset') Annulez

