doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title FaceCast-Intranet
    link(href='/asset/css/bootstrap.css', rel='stylesheet')
    link(href='/asset/css/font-awesome.css', rel='stylesheet')
    link(href='/asset/js/morris/morris-0.4.3.min.css', rel='stylesheet')
    link(href='/asset/css/custom.css', rel='stylesheet')
  body
    #wrapper
      nav.navbar.navbar-default.navbar-cls-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          |  
          a.navbar-brand(href='/') FaceCast
      nav.navbar-default.navbar-side(role='navigation')
        .sidebar-collapse
          ul#main-menu.nav
            li
              a.active-menu(href='/')
                i.fa.fa-dashboard.fa-3x
                |  Accueil
            li
              a(href='/events')
                span.glyphicon.glyphicon-film
                |  Les Events
            li
              a(href='/events/insert')
                span.glyphicon.glyphicon-plus
                |  Ajouter un Event
            li
              a(href='/offres_roles')
                span.glyphicon.glyphicon-bell
                |  Les demandes de rôles
      #page-wrapper
        #page-inner
          .row
            .col-md-12
              block content
              
          script(src='assets/js/jquery-1.10.2.js')
          script(src='assets/js/bootstrap.min.js')
          script(src='assets/js/jquery.metisMenu.js')
          script(src='assets/js/morris/raphael-2.1.0.min.js')
          script(src='assets/js/morris/morris.js')
          script(src='assets/js/custom.js')
