extends layout

block content

	table
		tr
			td NOM EVENT
			td NOM DE LA PERSONNE
			td PRENOM DE LA PERSONNE
			td ROLE
			td ETAT
			
		tr
		each offre, i in offreslist
			tr
				td
					= offre.event.nom
				td
					= offre.user.nom
				td
					=offre.user.prenom
				td
					= offre.event.role_demander
				td 
					= offre.etat
				td
					a(href='/offres_roles/validation/'+offre._id) modifier