extends  layout

block content
	h1 Supprimer l'évenement suivant : #{nom_evenement}

	form(name='remove-event', method='post', action='/events/'+id+'/delete')
		input(type='hidden', name ='_method', value='delete')
		input(type='hidden', name ='id', value = id) 
		button(type="submit") Supprimer