extends layout

block content
	table
		tr
			td ID
			td NOM
			td PRENOM
			td SEXE
			td DATE_NAISSANCE
		tr
		each user, i in userslist
			tr
				td
					= user._id
				td
					= user.nom
				td
					= user.prenom	
				td
					= user.sexe
				td
					= user.date_naissance
