extends layout
block content
		h1 Validation de l'offre de : #{nom_offreur} #{prenom_offreur} pour le role de : #{role}

		form(name='validate_offer',method="post", action='/offres_roles/validation/'+id+'/update')
			p Nom de l'evenement : #{nom_evenement}
			p Votre choix  (l'etat actuel : #{etat} )
			input(type='hidden', name ='_method', value='put')
			input(type='radio', name='choix', value='Accepter')
			|  Accecpter
			input(type='radio', name='choix', value='Refuser')
			|  Refuser
			input(type='radio', name='choix', value='Retenu')
			|  Retenu
			input(type='radio', name='choix', value='En attente', checked="checked")
			|  En attente
			button(type="submit") Confirmer 

		//form(name='validate_offer',method="post", action='/offres_roles/validation/'+id+'/update')
			.form-group
			p Nom de l'evenement : #{nom_evenement}
			p Votre choix  (l'etat actuel : #{etat} )
			input(type='hidden', name ='_method', value='put')
			label Type de spectacle
				.radio
					label
						input#optionsRadios1(type='radio', name='eventType', value='film')
						| Accepter
				.radio
					label
						input#optionsRadios2(type='radio', name='eventType', value='spectacle')
						| Refuser
			 	.radio
					label
						input#optionsRadios1(type='radio', name='eventType', value='film')
						| Retenu
				.radio
					label
						input#optionsRadios2(type='radio', name='eventType', value='spectacle')
						| En attente

			button.btn.btn-default(type='submit') Valider
			button.btn.btn-primary(type='reset') Annuler